{{ define "main" }}
<div class="min-h-80 contact-form">
    <div class="container">
    <hgroup>
      {{ partial "breadcrumbs.html" . }}
      <h1>{{ .Title }}</h1>
      <h2>{{ .Description }}</h2>
    </hgroup>
    <form name="contact" method="POST" action="{{ .Site.Params.contactFormAction | relURL }}" >
        <input name="_redirect" type="hidden" id="name" value="{{"/thanks/" | absURL}}">
        <input name="_formsubmit_id" type="text" hidden>
        <div class="grid">
      
          <label for="firstname">
            Prénom
            <input type="text" id="firstname" name="Prenom" placeholder="Prenom" required>
          </label>
      
          <label for="lastname">
            Nom
            <input type="text" id="lastname" name="Nom" placeholder="Nom">
          </label>
      
        </div>
      
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <small>On ne partagera pas votre email.</small>

        <label for="email">Votre message</label>
        <textarea name="message" id="message" cols="30" rows="5" style="resize: none;" required></textarea>
        <small>Dites nous comment peut on vous aider.</small>
      
        <input type="submit">
      
      </form>
    </div>
</div>
{{ end }}